.finance-options-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.finance-options-container .teaser__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.finance-options-container .teaser__card {
  position: relative;
  cursor: pointer;
  flex-grow: 1;
  height: 160px;
}
.finance-options-container .teaser__card:nth-child(1)::before {
  content: "";
  background-color: #2648f4;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none"><rect width="56" height="56" fill="%23171D9B"/><rect y="32" width="24" height="24" fill="%232F37D4"/></svg>');
  background-repeat: no-repeat;
  background-position: right bottom;
  backdrop-filter: blur(5px);
  position: absolute;
  transition: all 0.3s linear;
  inset: 0;
  z-index: 2;
}
.finance-options-container .teaser__card:nth-child(2)::before {
  content: "";
  background-color: #1c2e88;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><rect x="24" y="24" width="24" height="24" fill="%232F37D4"/><rect width="24" height="24" fill="%232A30B2"/></svg>');
  background-repeat: no-repeat;
  background-position: right bottom;
  backdrop-filter: blur(5px);
  position: absolute;
  transition: all 0.3s linear;
  inset: 0;
  z-index: 2;
}
.finance-options-container .teaser__card:nth-child(3)::before {
  content: "";
  background: #171d9b;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="53" height="51" viewBox="0 0 53 51" fill="none"><rect x="53" y="51" width="29.9625" height="51" transform="rotate(180 53 51)" fill="%232F37D4"/><rect x="53" y="51" width="29.9625" height="51" transform="rotate(180 53 51)" fill="%232F37D4"/><rect x="23.0371" y="19.7625" width="22.95" height="19.7625" transform="rotate(180 23.0371 19.7625)" fill="%23494FDC"/></svg>');
  background-repeat: no-repeat;
  background-position: right bottom;
  backdrop-filter: blur(5px);
  position: absolute;
  transition: all 0.3s linear;
  inset: 0;
  z-index: 2;
}
.finance-options-container .teaser__image {
  width: 100%;
  position: absolute;
  z-index: 1;
  inset: 0px;
  overflow: hidden;
}
.finance-options-container .teaser__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.finance-options-container .teaser__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
  z-index: 5;
  color: #ffffff;
  padding: 20px;
}
.finance-options-container .teaser__title h3 {
  font-size: 24px;
  line-height: 20px; /* 83.333% */
  text-transform: capitalize;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 18px;
  margin: 4px 0;
}

.finance-options-container .teaser__actions {
  height: 100%;
}
.finance-options-container .button.primary__btn {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><rect width="48" height="48" fill="black" fill-opacity="0.05"/><path d="M11.1075 39L9 36.8925L31.8925 14H18V11H37V30H34V16.1075L11.1075 39Z" fill="white"/></svg>');
}
@media (min-width: 999px) {
  .finance-options-container {
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .finance-options-container .teaser__cards {
    flex-direction: inherit;
    gap: 17px;
  }
  .finance-options-container .teaser__card {
    height: 240px;
  }
  .finance-options-container .button.primary__btn {
    background-color: var(--primary-blue-700);
    opacity: 0;
    transition: all 0.3s linear;
  }
  .finance-options-container .teaser__card:nth-child(1)::before {
    background-position: right top;
    background-size: 80px 80px;
  }
  .finance-options-container .teaser__card:nth-child(1):hover::before {
    background-color: rgba(38, 72, 244, 0.8);
    background-image: none;
  }
  .finance-options-container .teaser__card:nth-child(2)::before {
    background-position: right top;
    background-size: 80px 80px;
  }
  .finance-options-container .teaser__card:nth-child(2):hover::before {
    background-color: rgba(33, 43, 95, 0.8);
    background-image: none;
  }
  .finance-options-container .teaser__card:nth-child(3)::before {
    background-position: left top;
    background-size: 80px 80px;
  }
  .finance-options-container .teaser__card:nth-child(3):hover::before {
    background-color: rgba(23, 29, 155, 0.8);
    background-image: none;
  }
  .finance-options-container .teaser__card:hover .button.primary__btn {
    opacity: 1;
  }
}