:root {
    /* Define CSS Variables (Custom Properties) */
    --primary-color: #fff;
    --secondary-color: #b2b2b2;
    --background-gradient-start: rgba(0, 0, 0, 0.6);
    --background-gradient-end: rgba(0, 0, 0, 0.6);
    --content-background-gradient-start: rgba(56, 79, 110, 0.6);
    --content-background-gradient-end: rgba(91, 91, 91, 0.6);
  }
  
  .safety-tabs {
    p {
      margin: unset;
      font-size: unset;
    }
  
    h1 {
      margin: unset;
      font-size: unset;
      font-weight: unset;
    }
  
    ul {
      margin: unset;
    }
  
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%, 0 2%, 36% 2%);
    background-color: #18171a;
    padding-bottom: 40px;
  
    @media (min-width: 999px) {
      clip-path: polygon(0 3%, 30% 3%, 32% 0, 100% 0, 100% 100%, 0 100%);
      padding-bottom: 65px;
    }
  }
  
  .highlightItem {
    display: flex;
    flex-direction: column;
  
    .highlightItem-img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
      aspect-ratio: 360/297;
    }
  
    @media (min-width: 999px) {
      position: relative;
  
      .highlightItem-img {
        aspect-ratio: 1366/685;
      }
  
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 250px;
        z-index: 1;
      }
  
      &::before {
        top: 0;
        background: linear-gradient(180deg,
            rgba(24, 23, 26, 1) 50%,
            rgba(24, 23, 26, 0.80) 80%,
            rgba(24, 23, 26, 0) 100%);
      }
  
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 50px;
        z-index: 1;
      }
  
      &::after {
        bottom: 0;
        background: linear-gradient(180deg,
            rgba(24, 23, 26, 0) 30%,
            rgba(24, 23, 26, 0.75) 60%,
            rgba(24, 23, 26, 1) 100%);
      }
    }
  }
  
  .text-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: left;
    padding: 56.25px 20px 48px 20px;
  
    .top-left {
      font-family: "Kepler Std";
      color: #fff;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0.64px;
      z-index: 1;
    }
  
    .top-right {
      font-family: "Fira Sans";
      color: #f2f2f2;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      width: 70%;
      z-index: 1;
    }
  
    @media (min-width: 999px) {
      display: inherit;
  
      .top-left {
        position: absolute;
        top: 120px;
        left: 5%;
        font-size: 64px;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: 1.28px;
        width: 30%;
      }
  
      .top-right {
        position: absolute;
        top: 155px;
        right: 5%;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        width: 30%;
      }
    }
  }
  
  .switch-list-section {
    padding: 12px 20px 0px 20px;
    margin-top: 16px;
  
    .switch-list {
      height: 28px;
      list-style-type: none;
      display: flex;
      gap: 16px;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: 2px;
      scrollbar-color: var(--secondary-color) transparent;
  
      @media (min-width: 999px) {
        gap: 24px;
        justify-content: center;
        margin-top: 36px;
      }
    }
  
    @media (min-width: 999px) {
      position: relative;
    }
  }
  
  .switch-list-item {
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: "Fira Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
    position: relative;
  
    @media (min-width: 999px) {
      font-size: 16px;
      line-height: 20px;
    }
  
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid var(--secondary-color);
    }
  
    &.active {
      color: var(--primary-color);
      font-weight: 500;
  
      &::after {
        border-bottom: 3px solid var(--primary-color);
      }
    }
  }
  
  .highlightItem-content {
    position: relative;
    margin-top: 24px;
    width: calc(100% - 20px);
    padding: 16px;
    background: linear-gradient(238deg,
        var(--content-background-gradient-start) -11.12%,
        var(--content-background-gradient-end) 111.5%);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 66% 94%, 61% 100%, 0 100%);
    backdrop-filter: blur(10px);
    color: #f2f2f2;
    font-family: "Fira Sans";
    font-size: 12px;
    font-weight: 400;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 65% 90%, 60% 100%, 0 100%);
    transition: transform 0.5s ease-in-out, max-height 0.5s ease-in-out;
    transform-origin: top;
    z-index: 10;
  
    @media (min-width: 999px) {
      position: absolute;
      left: 5%;
      bottom: 48px;
      width: 30%;
      margin-left: 0;
      margin-top: 0;
      padding: 32px;
      font-size: 16px;
      font-weight: 300;
    }
  }
  
  .more-content {
    line-height: 16px;
    overflow: hidden;
    max-height: 50px;
    transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
  
    @media (min-width: 999px) {
      line-height: 20px;
      max-height: 60px;
    }
  }
  
  .more-content.expanded {
    max-height: 400px;
  }
  
  .read-more {
    cursor: pointer;
    text-decoration: underline !important;
    color: #f2f2f2;
    line-height: 20px;
    display: block;
    margin-top: 8px;
    position: relative;
  
    @media (min-width: 999px) {
      font-weight: 400;
    }
  }
  
  .highlightItem {
    display: none;
  }