.user__account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user__account--link {
  display: flex;
  align-self: stretch;
  text-decoration: none;
  align-items: center;
  gap: 12px;
  color: var(--Primary-Main, #18171a);
  font-family: "Fira Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.user__account__list-icon {
  display: flex;
  /* padding: 4px; */
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: var(--Tertiary-Light-grey, #f2f2f2);
  height: 24px;
  width: 24px;
}
.user__account__list-icon img {
  width: 16px;
  height: 16px;
}

.user__account > a {
  font-size: 14px;
}

.hide-sm {
  display: none;
}

.sign-in-wrapper {
  z-index: 999;
  position: absolute;
  top: var(--nav-height);
  right: 5px;
}

.user__dropdown {
  background: var(--Tertiary-White, #fff);
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.user__dropdown a:hover{
  background-color:#f2f2f2;
}

@media (min-width: 998px) {
  .user__account__list-icon {
    background: none;
  }
  .user__account--link {
    font-size: 16px;
  }
  .hide-sm {
    display: flex;
  }
  .user__account__list-icon img {
    width: 24px;
    height: 24px;
  }
}
/*.sign-in-teaser{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  @media(min-width:768px){
  display:none;
  } 
}*/
.sign-in-teaser {
  display: flex;
  border-radius: 2px;
  background: var(
    --gradient-3,
    linear-gradient(34deg, #c9d3d7 18.09%, #ebebeb 102.51%, #ebebeb 102.51%)
  );
}
.sign-in-teaser__desc {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  flex-grow: 2;
  justify-content: space-around;
}
.sign-in-teaser__desc-content h4 {
  color: var(--Primary-Main, #18171a);
  font-family: "Fira Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 6px 0;
}
.sign-in-teaser__desc-content p {
  color: #4a4a4a;
  font-family: "Fira Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 6px 0;
}
.sign-in-teaser--link {
  color: var(--Primary-Main, #18171a);
  font-family: "Fira Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 0.64px solid var(--Primary-Main, #18171a);
}
.sign-in-teaser--link img {
  height: 16px;
}
.sign-in-teaser__image {
  clip-path: polygon(0 30px, 20px 0, 100% 0, 100% 100%, 0 100%);
}
.sign-in-teaser__image img {
  height: 100%;
}
.sign-in-teaser--arrow{
  width:15px;
  height:15px;
  background-image: url('../../icons/north-east-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 998px) {
  .sign-in-teaser {
    display: none;
  }
}

