.dealer-callback-container {
    position: relative;
    clip-path: polygon(0 35px, 76% 31px, calc(76% + 25px) 0, 100% 0, 100% 100%, 0 100%);
  background: black;
  }
  .dealer-callback-container .teaser__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .dealer-callback-container .teaser__card {
    position: relative;
    cursor: pointer;
    flex-grow: 1;
    height: 160px;
  }
  
  .dealer-callback-container .teaser__image {
    width: 100%;
    position: absolute;
    z-index: 1;
    inset: 0px;
    overflow: hidden;
  }
  .dealer-callback-container .teaser__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .dealer-callback-container .teaser__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    z-index: 5;
    color: #ffffff;
    padding: 20px;
  }
  .dealer-callback-container .teaser__title h3 {
    font-size: 24px;
    line-height: 20px; /* 83.333% */
    text-transform: capitalize;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 18px;
    margin: 4px 0;
  }
  
  .dealer-callback-container .teaser__actions {
    height: 100%;
  }

  @media (min-width: 999px) {
    .dealer-callback-container {
      padding-top: 60px;
      padding-bottom: 120px;
    }
    .dealer-callback-container .teaser__cards {
      flex-direction: inherit;
      gap: 17px;
    }
    .dealer-callback-container .teaser__card {
      height: 240px;
    }
    .dealer-callback-container .button.primary__btn {
      /* background-color: var(--primary-white); */
      opacity: 0;
      transition: all 0.3s linear;
    }
    .dealer-callback-container .teaser__card:nth-child(1)::before {
      background-position: right top;
      background-size: 80px 80px;
    }
    .dealer-callback-container .teaser__card:nth-child(2)::before {
      background-position: right top;
      background-size: 80px 80px;
    }
    .dealer-callback-container .teaser__card:nth-child(3)::before {
      background-position: left top;
      background-size: 80px 80px;
    }
  }
  