.section.video-teaser-container {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #f2f2f2;
}
.video-teaser-container.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: end;
}
.video-teaser-container video {
  width: 100%;
  grid-area: 1 / 2 / 2 /1;
  position: relative;
}
.video-teaser-container video::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(291deg, rgba(0, 0, 0, 0) 43.17%, #000 101.76%);
}
.video-teaser-container .video-teaser-overlay {
  grid-area: 1 / 2 / 2 /1;
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: space-between;
  padding: 16px;
  position: relative;
}
.video-teaser-container .video-teaser-overlay h1,
h2,
h3,
h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 250% */
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}
.video-teaser-container .mute-button {
  display: none;
}
@media (min-width: 999px) {
  .section.video-teaser-container {
    padding-top: inherit;
    padding-bottom: 120px;
    background-color: inherit;
  }
  .video-teaser-container .video-teaser-overlay {
    padding: 40px;
  }
  .video-teaser-container video::after {
    background: linear-gradient(
      304deg,
      rgba(23, 28, 143, 0) 58.01%,
      #171d9b 170.95%
    );
  }
  .video-teaser-container .video-teaser-overlay h1,
  h2,
  h3,
  h4 {
    font-size: 40px;
    line-height: 40px; /* 100% */
    text-transform: inherit;
  }
  .video-teaser-container .mute-button {
    display: flex;
    cursor: pointer;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 0.2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(14px);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_4352_1315" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect x="0.705078" y="0.703125" width="22.5882" height="22.5882" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_4352_1315)"><path d="M13.9179 19.6297V18.1709C15.2754 17.7391 16.3689 16.9548 17.1984 15.818C18.0281 14.6814 18.4429 13.3999 18.4429 11.9737C18.4429 10.5476 18.0281 9.26614 17.1984 8.12951C16.3689 6.99273 15.2754 6.20842 13.9179 5.77657V4.31775C15.6699 4.78708 17.0974 5.72763 18.2003 7.1394C19.303 8.55116 19.8544 10.1626 19.8544 11.9737C19.8544 13.7849 19.303 15.3963 18.2003 16.8081C17.0974 18.2199 15.6699 19.1604 13.9179 19.6297ZM4.14429 14.3502V9.64434H7.63746L11.6735 5.60834V18.3862L7.63746 14.3502H4.14429ZM13.9179 15.4361V8.5114C14.5526 8.85649 15.0431 9.34245 15.3895 9.96928C15.7357 10.5961 15.9088 11.2721 15.9088 11.9973C15.9088 12.7127 15.7341 13.3785 15.3848 13.9945C15.0354 14.6105 14.5465 15.091 13.9179 15.4361ZM10.2617 9.03257L8.23817 11.0561H5.55582V12.9385H8.23817L10.2617 14.962V9.03257Z" fill="white"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }
  .video-teaser-container .mute-button,
  .video-teaser-container .video-teaser-mute {
    display: flex;
    cursor: pointer;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 0.2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(14px);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_4352_1315" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect x="0.705078" y="0.703125" width="22.5882" height="22.5882" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_4352_1315)"><path d="M13.9179 19.6297V18.1709C15.2754 17.7391 16.3689 16.9548 17.1984 15.818C18.0281 14.6814 18.4429 13.3999 18.4429 11.9737C18.4429 10.5476 18.0281 9.26614 17.1984 8.12951C16.3689 6.99273 15.2754 6.20842 13.9179 5.77657V4.31775C15.6699 4.78708 17.0974 5.72763 18.2003 7.1394C19.303 8.55116 19.8544 10.1626 19.8544 11.9737C19.8544 13.7849 19.303 15.3963 18.2003 16.8081C17.0974 18.2199 15.6699 19.1604 13.9179 19.6297ZM4.14429 14.3502V9.64434H7.63746L11.6735 5.60834V18.3862L7.63746 14.3502H4.14429ZM13.9179 15.4361V8.5114C14.5526 8.85649 15.0431 9.34245 15.3895 9.96928C15.7357 10.5961 15.9088 11.2721 15.9088 11.9973C15.9088 12.7127 15.7341 13.3785 15.3848 13.9945C15.0354 14.6105 14.5465 15.091 13.9179 15.4361ZM10.2617 9.03257L8.23817 11.0561H5.55582V12.9385H8.23817L10.2617 14.962V9.03257Z" fill="white"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
  }
  .video-teaser-container .video-teaser-unmute {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_4352_1315" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect x="0.705078" y="0.703125" width="22.5882" height="22.5882" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_4352_1315)"><path d="M13.9179 19.6297V18.1709C15.2754 17.7391 16.3689 16.9548 17.1984 15.818C18.0281 14.6814 18.4429 13.3999 18.4429 11.9737C18.4429 10.5476 18.0281 9.26614 17.1984 8.12951C16.3689 6.99273 15.2754 6.20842 13.9179 5.77657V4.31775C15.6699 4.78708 17.0974 5.72763 18.2003 7.1394C19.303 8.55116 19.8544 10.1626 19.8544 11.9737C19.8544 13.7849 19.303 15.3963 18.2003 16.8081C17.0974 18.2199 15.6699 19.1604 13.9179 19.6297ZM4.14429 14.3502V9.64434H7.63746L11.6735 5.60834V18.3862L7.63746 14.3502H4.14429ZM13.9179 15.4361V8.5114C14.5526 8.85649 15.0431 9.34245 15.3895 9.96928C15.7357 10.5961 15.9088 11.2721 15.9088 11.9973C15.9088 12.7127 15.7341 13.3785 15.3848 13.9945C15.0354 14.6105 14.5465 15.091 13.9179 15.4361ZM10.2617 9.03257L8.23817 11.0561H5.55582V12.9385H8.23817L10.2617 14.962V9.03257Z" fill="gray"/></g></svg>');
  }
}
