/* nexa footer style mobile first*/
footer {
  background-color: var(--primary-main);
  padding-top: 0;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
footer .link-container-section {
  display: block;
}
footer .link-grid-column .links-container {
  gap: 0px;
}
footer .link-grid-column .links-container li {
  padding: 6px 0;
}
footer .link-grid-column .links-container li:last-child {
  padding-bottom: 16px;
}
footer .link-grid-column .links-container li a {
  min-height: inherit;
}
footer .default-content-wrapper {
  display: none;
}
footer .link-grid-column {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
footer .link-grid-column h3,
footer .contactUs__Heading {
  color: var(--tertiary-white);
  margin: 0;
  padding: 16px 0;
}
.accordian-item {
}

footer .link-grid-column h3 {
  position: relative;
}
footer .link-grid-column h3::after {
  content: "";
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  background-image: url("../../icons/expand.svg");
}
footer .link-grid-column h3.expand::after {
  content: "";
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  background-image: url("../../icons/collapes.svg");
}
.footer__columns-contact .default-content-wrapper {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* .footer__columns-contact {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 32px;
} */
footer .default-content-wrapper {
  display: none;
}
footer .footer__columns-contact .default-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px 27px;
  align-self: stretch;
  padding-bottom: 24px;
  flex-wrap: wrap;
  p:first-child {
    width: 100%;
  }
}

footer .footer__columns.footer__columns-contact p {
  color: var(--tertiary-white);
  font-family: "Fira Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
}
footer .footer__columns.footer__columns-contact p strong {
  font-size: 14px;
  font-weight: 400;
}
footer .footer__columns-contact .contactUs__section {
  display: flex;
  flex-direction: column-reverse;
}

footer .contactUs__Heading {
  display: none;
}
footer .user__contact {
}
footer .user__contact h4 {
  display: none;
}
footer .user__contact__icons {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer__info-left p,
.footer__info-right p {
  display: none;
}
.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 24px 0 0;
}
.footer__copyright-left {
  padding-top: 24px;
}
.footer__copyright-left p {
  color: var(--tertiary-light-grey);
  font-family: "Fira Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.footer__copyright ul {
  padding: 16px 0 0;
  display: flex;
}
.footer__copyright-right ul {
  padding: 16px 0 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0 26px;
  flex-wrap: wrap;
}
.footer__copyright-right ul li {
  line-height: 20px;
}
.footer__copyright-right ul li a {
  color: var(--tertiary-medium-grey);
  font-family: "Fira Sans";
  font-size: 9px;
  font-style: normal;
  font-weight: 400;

  text-decoration-line: underline;
  text-transform: uppercase;
}
footer .content.links-container.hide__section__mobile {
  transition: all 0.3s linear;
  overflow: hidden;
  max-height: 0;
}

footer ul.content.links-container {
  max-height: 300px;
  transition: all 0.3s linear;
}

/* Arena footer style mobile first*/
footer.footer__arena {
  position: relative;
  background-color: var(--Text-Colour-Text-Styles-Text-Primary, #01044b);
}
footer.footer__arena .container {
  position: relative;
}

footer.footer__arena .default-content-wrapper {
  display: none;
}
footer.footer__arena .footer__columns-contact .default-content-wrapper {
  display: flex;
}
footer.footer__arena .footer__info-right p,
footer.footer__arena .footer__info-left p {
  display: block;
  color: var(--tertiary-white);
  font-family: "Fira Sans";
  font-size: 10px;
  font-weight: 300;
  line-height: 17px;
}
footer.footer__arena .footer__info-left {
  padding-top: 15px;
}
@media (min-width: 999px) {
  footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  footer .link-container-section {
    display: flex;
  }
  footer .link-grid-column h3,
  footer .contactUs__Heading {
    font-size: 18px;
    padding: 20px 0;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  footer .link-grid-column h3 {
    padding-top: 0;
    &::after {
      display: none;
    }
  }
  footer .footer__columns.footer__columns-contact p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
  }
  footer .footer__columns-contact .default-content-wrapper .tollfree__element {
    font-size: 16px;
    letter-spacing: -0.16px;
  }
  .footer__columns-contact {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  footer .contactUs__Heading {
    display: block;
    padding-top: 0;
  }
  footer .link-grid-column {
    border-bottom: none;
  }
  footer .link-grid-column .links-container li:first-child {
    padding-top: 0;
  }
  .footer__separator {
    height: 1px;
    width: 100%;
    background: #7b7777;
    position: relative;
    margin-top: 20px;
  }
  .footer__separator::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--tertiary-white);
    border-radius: 50%;
    background-image: url("../../icons/footer-expand.svg");
    left: 50%;
    top: -10px;
    margin-left: -10px;
    cursor: pointer;
  }
  .footer__separator.element__expand::after {
    background-image: url("../../icons/footer-collapes.svg");
  }
  footer .default-content-wrapper {
    display: block;
    border: none;
    padding-bottom: 64px;
  }
  footer .footer__columns-contact .contactUs__section {
    flex-direction: inherit;
  }
  footer .contactUs__Heading p {
    font-size: 16px;
  }
  footer .user__contact__icons {
    padding-top: 8px;
    padding-bottom: 22px;
  }
  footer .footer__columns .footer__columns-contact p {
    font-size: 16px;
    padding-bottom: 10px;
  }
  footer .footer__columns .footer__columns-contact p strong {
    font-size: 16px;
    font-weight: 400;
  }
  .footer__columns-contact .contactUs__section .default-content-wrapper {
    border-bottom: none;
    padding-bottom: 12px;
  }

  footer .default-content-wrapper p {
    color: var(--tertiary-white, #fff);
    font-family: "Kepler Std";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.96px;
    text-transform: capitalize;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  footer .user__contact h4 {
    display: block;
    color: var(--tertiary-white);
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
  footer .footer__columns-contact .default-content-wrapper {
    gap: 0;
  }
  footer .user__contact--icon {
    display: flex;
    padding: 8px 0;
    flex-direction: row;
  }
  footer .user__contact--icon img {
    height: 20px;
  }
  .footer__info-left,
  .footer__info-right {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer__info-left p,
  .footer__info-right p {
    display: block;
    color: var(--tertiary-white);
    font-family: "Fira Sans";
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
    line-height: 14px;
  }
  .footer__copyright-right ul {
    padding: 0;
    gap: 16px 34px;
    justify-content: end;
  }
  .footer__copyright-right ul li a {
    color: var(--tertiary-white);
    font-size: 14px;
    text-decoration-line: none;
  }
  .footer__copyright-left {
    padding-top: 0px;
  }

  footer .content.links-container.hide__section__mobile,
  .contactUs__section.hide__section__mobile {
    transition: all 0.3s linear;
    overflow: hidden;
    max-height: 300px;
  }

  footer .content.links-container.hide__section__mobile.hide__section,
  .contactUs__section.hide__section__mobile.hide__section {
    transition: all 0.3s linear;
    overflow: hidden;
    max-height: 0;
  }
  /* Arena footer style min 1024 first*/
  footer.footer__arena .footer__separator.element__expand::after {
    border-radius: 0;
  }
  footer.footer__arena .footer__separator::after {
    border-radius: 0;
  }
  footer.footer__arena .footer__columns-contact .contactUs__section {
    flex-direction: column-reverse;
  }
  footer.footer__arena .footer__info-left {
    padding-top: 32px;
  }

  footer.footer__arena .footer__columns-contact .user__contact h4 {
    display: none;
  }
  footer.footer__arena .user__contact__icons {
    padding-top: 10px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: inherit;
  }
  footer.footer__arena .user__contact__icons a {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background: #0a0e6d;
    align-items: center;
    justify-content: center;
  }
  footer.footer__arena .default-content-wrapper .tollfree__element {
    padding-bottom: 26px;
    color: #fff;
    padding-left: 0;
  }

  footer.footer__arena .contactUs__section p {
    color: var(--Black-Black-10, #a2a9b0);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    padding-left: 40px;
  }
  footer.footer__arena .default-content-wrapper p.tollfree__element::before {
    display: none;
  }
  footer.footer__arena .contactUs__section p::before {
    content: "";
    height: 18px;
    width: 18px;
    background-image: url("../../icons/call.svg");
    position: absolute;
    left: 0;
  }
}
